addict==2.4.0
aiofiles==0.8.0
anyio==3.5.0
asgiref==3.5.0
bleach==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
commonmark==0.9.1
cryptography==36.0.2
cycler==0.11.0
demjson3==3.0.5
docutils==0.18.1
fonttools==4.33.2
h11==0.13.0
httpcore==0.14.7
httpx==0.22.0
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
jeepney==0.8.0
Jinja2==3.1.1
justpy==0.2.3
keyring==23.5.0
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.5.1
numpy==1.22.3
packaging==21.3
pandas==1.4.2
pandas-schema==0.3.6
Pillow==9.1.0
pkginfo==1.8.2
pycparser==2.21
Pygments==2.12.0
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
readme-renderer==35.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.2.0
SecretStorage==3.3.2
six==1.16.0
sniffio==1.2.0
starlette==0.19.1
twine==4.0.0
typing-extensions==4.2.0
urllib3==1.26.9
uvicorn==0.17.6
webencodings==0.5.1
websockets==10.3
zipp==3.8.0
